@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 81, 132, 231;
  --background-start-rgb: 81, 132, 231;
  --background-end-rgb:81, 132, 231;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb:  81, 132, 231;
    --background-start-rgb:  24, 26, 27;
    --background-end-rgb: 132, 146, 166;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
